@import "tailwindcss";

:root {
  font-family: "Fira Sans", system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-Roboto: "Roboto Condensed", sans-serif;
  --color-main-yellow: #FDCF55;
  --color-main-green: #769B54;
  --color-main-grey: #D7D7D7;
  --color-main-dark_gray: #3C3C3C;
  --color-main-brown: #262022;
}
